.main-container {
  display: flex;
  flex-direction: column;

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap:2rem;
  }

  .currentWeather-display {
    display: flex;
    flex-direction: column;
    img {
      width: 65px;
      height: 65px;
    }
  }
}
